<div class="modal">
   <div class="modal__overlay"></div>
   <div class="modal__content">
      <h2 class="modal__title">Получить консультацию</h2>
      <form class="modal__form">
         <label class="modal__label" for="phone-input">Введите номер телефона:</label>
         <input class="modal__input phone-input" id="phone-input" type="tel" placeholder="(___) ___-__-__" required>
         <button class="modal__submit-btn">Отправить</button>
      </form>
      <button class="btn-close-modal">&times;</button>
   </div>
</div>