.article {
   width: 100%;
   @include flex-column-start();

   .article__title_main {
      width: 70%;
      @include font-face(2.3em, 900, $color: $color-dark-primary);
      margin-bottom: 1em;

      span {
         @include font-gradient();
      }
   }

   .article__title {
      @include font-face(1.7em, 900, $color: $color-dark-primary);
      margin-bottom: 1.7em;
   }

   .article__subtitle {
      @include font-face();
      text-transform: uppercase;
      margin-bottom: 15px;
   }

   .article__text {
      line-height: 130%;
   }

   .article__item {
      @include font-face(1.1em, 500);
      @include flex-v-center;
      padding: 5px 0;

      img {
         height: 28px;
         width: 28px;
      }
   }
}