@import 'variables';

button {
   text-align: center;
   padding: 1em 2em;
   text-transform: uppercase;
   transition: all 0.3s ease-in-out;

   &:hover {
      transition: all 0.3s ease-in-out;
   }
}

.button {
   background: $gradient-pink;
   border-radius: 1em;
   @include font-face (0.9em, 600, $color: $color-light-primary);

   &:hover {
      color: $color-dark-complementary;
   }
}