@import 'variables';

.button {
   background: $gradient;
   height: max-content;
   width: max-content;
   padding: 12px 25px;
   border-radius: 20px;
   @include font-face(16px, $color: $color-light-primary);
}