@import 'variables';

button {
   text-align: center;
   padding: 1em 2em;
   text-transform: uppercase;
}

.button {
   background: $gradient;
   border-radius: 2em;
   @include font-face (0.9em, 600, $color: $color-light-primary);

}