.article {
   width: 100%;
   @include flex-column-start();

   .article__title_main {
      width: 70%;
      @include font-main();
      margin-bottom: 40px;

      span {
         @include font-gradient();
      }
   }

   .article__title {
      @include font-title();
      margin-bottom: 30px;
   }

   .article__subtitle {
      @include font-primary();
      text-transform: uppercase;
      margin-bottom: 15px;
   }

   .article__text {
      @include font-text();
   }

   .article__item {
      @include flex-v-center;
      padding: 5px 0;

      img {
         height: 28px;
         width: 28px;
      }
   }
}