@import 'variables';
@import 'mixins';

.header {
   border-bottom: 1px solid $color-dark-primary;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   z-index: 9999;
   transition: transform 0.3s ease-in-out;
   background-color: $color-light-primary;

   &.header-hidden {
      transform: translateY(-100%);
   }

   .header__wrapper {
      height: 100%;
      @include flex-all-sb();
      background-color: $color-light-primary;
   }

}