@import 'variables';
@import 'mixins';

.header {
   border-bottom: 1px solid $black-color;
   padding: 15px 0;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   z-index: 9999;
   transition: transform 0.3s ease-in-out;
   background-color: $white-color;
   // @include matte-glass();

   &.header-hidden {
      transform: translateY(-100%);
   }

   .header__wrapper {
      @include flex-all-sb();
   }

   .nav__list {
      @include flex-all-sb();
      gap: 20px;
   }

   .nav__link {
      @include font-face(18px);

      &:hover {
         @include font-hover();
      }
   }


}