@import 'variables';
@import 'mixins';

.promo {

   .promo__wrapper {
      @include flex-column-start(40px);
      position: relative;
   }

   .promo__img {
      position: fixed;
      top: 10%;
      right: 8%;
      width: 40%;
      z-index: -1;
   }

   .promo__tel {
      @include input-tel
   }
}