@import 'variables';
@import 'mixins';

.promo {

   .promo__wrapper {
      @include flex-column-start(40px);
      position: relative;
   }

   .promo__img {
      position: absolute;
      top: 10%;
      right: 0;
      width: 45%;
   }

   .promo__tel {
      @include input-tel
   }
}