@import 'variables';

@mixin font-face($size: 1em, $weight: 400, $color: $color-dark-primary) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin font-gradient($text-gradient: $gradient) {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: $text-gradient;
  -webkit-text-fill-color: transparent;
}

@mixin font-hover() {
  color: $color-contrast-dark;
}