@import 'variables';

@mixin font-face($size: 16px, $weight: 500, $color: $color-dark-primary, $family: $main-font-family) {
  font-family: $family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-display: swap;
}

@mixin font-gradient($text-gradient: $gradient) {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: $text-gradient;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px $color-gradient-stop;
  text-stroke: 0.5px $color-gradient-stop;
}

@mixin font-stroke() {
  -webkit-text-stroke: 0.5px $color-dark-primary;
  text-stroke: 0.5px $color-dark-primary;
}

@mixin font-hover() {
  color: $color-gradient-start;
}