// base
$content-width: 1170px;
$wrapper-offset: 15px;
$wrapper-width: calc($content-width + ($wrapper-offset * 2));

// colors
$color-contrast: #009900;
$color-gradient-start: #e62314;
$color-gradient-stop: #f19e18;
$color-dark-primary: #000000;
$color-dark-complementary: #424242;
$color-light-primary: #FDFAEC;
$color-light-complementary: #FFFFFF;

// gradient
$gradient: linear-gradient(90deg, $color-gradient-start 0%, $color-gradient-stop 100%);


$shadow: inset 0.2rem 0.2rem 0.5rem #777,
   inset -0.2rem -0.2rem 0.5rem #aaa,
   0 2px 2px #666;

//font
$main-font-family: "Nunito Sans", sans-serif;