// base
$content-width: 1170px;
$wrapper-offset: 15px;
$wrapper-width: calc($content-width + ($wrapper-offset * 2));

// colors
$green-color: #009900;
$pink-color: #F7B4B4;
$brown-color: #8C6969;
$black-color: #201E1E;
$white-color: #F7F0EA;

// gradient
$gradient: linear-gradient(102deg, $brown-color 8.85%, $pink-color 91.15%);

//font
$main-font-family: "Nunito Sans", sans-serif;